:root{
    --color-background: #c1d2cf;
    --color-primary-lighter: #00b3e2;
    --color-primary-light: #ffffff;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #006C88;
    --color-button-text: #006c88;
    
    font-size: 60%;
}

*{ /*deixa enquadrado na tela do usuário*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{ /*deixa enquadrado na tela do usuário*/
    height: 100vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
}

body, input, button, textarea{
    font-size: 10rem;
    font-weight: 500;
    font-family: Rajdhani;
    color: var(--color-text-base);
}

.container{
    width: 100vw;
    max-width: 700px;
    
}

@media (min-width: 700px){
    :root{
        font-size: 62.5%;/*todo 1rem vai ser relativo a 10px*/
    }
}